.btnGrad {
  font-family: Nasalization;
  background: #090F3E;
  width: 100%;
  margin: 15px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  color: white;
  border-radius: 10px;
  display: block;
  border: none;

  &:hover{
    cursor: pointer;
  }

  &:enabled:active {
    scale: 0.8;
  }

  &:enabled {
    background-image:  linear-gradient(87.87deg, #0255D6 42.87%, #15FFE3 92.45%);
  }

  &:disabled {
  }
}
//
//.btnGrad:hover {
//}
