.root {
  position: relative;
  border: 2px solid rgba(24, 32, 89, 1);
  border-radius: 8px;
  width: 100%;
  max-width: 130px;
  aspect-ratio: 1 / 1;
  color: #ffffff;


  @media (max-height: 500px) {
    max-width: 90px;
    font-size: 0.65em;
  }

  &:hover {
    cursor: pointer;
    border: double 2px transparent;
    border-radius: 8px;
    background-image: linear-gradient(rgba(9, 15, 62, 1), rgba(9, 15, 62, 1)),
    linear-gradient(to right, #0255D6 42.87%, #15FFE3 92.45%);
    background-origin: border-box;
    background-clip: content-box, border-box;
  }

  img {
    position: absolute;
    width: 3em;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
  }

  span {
    font-family: Nasalization;
    position: absolute;
    left: 50%;
    top: 75%;
    transform: translate(-50%, -50%);
  }
}

.active {
  border: double 2px transparent;
  border-radius: 8px;
  background-image: linear-gradient(rgba(9, 15, 62, 1), rgba(9, 15, 62, 1)),
  linear-gradient(to right, #0255D6 42.87%, #15FFE3 92.45%);
  background-origin: border-box;
  background-clip: content-box, border-box;
}