.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

  img {
    width: 100%;
    @media (max-height: 500px) {
      height: 2em;
    }
  }
}

.content {
  padding: 0 10px;
  width: 95.05%;
  color: #BCBED1;
  background: rgb(11,18,61);
  overflow: hidden;
  //max-height: 280px;
  overflow-y: auto;

  p {
    font-family: GothaPro;
    font-size: 0.7em;
    margin: 0;
    line-height: 150%;
  }
  //&:after {
  //  content:' ';
  //  position:relative;
  //  top: -100%;
  //  width:100%; height:100%;
  //  background: linear-gradient(180deg, #DEDEDE -7.5%, #161B40 68.13%);
  //  display:inline-block;
  //  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, #161B40 100%); /* FF3.6+ */
  //  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.65)), color-stop(100%,#161B40)); /* Chrome,Safari4+ */
  //  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,#161B40 100%); /* Chrome10+,Safari5.1+ */
  //  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,#161B40 100%); /* Opera 11.10+ */
  //  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,#161B40 100%); /* IE10+ */
  //  background: linear-gradient(to bottom, rgba(0,0,0,0) 75%,#161B40 100%); /* W3C */
  //  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
  //}

}

.scrollTop {

}
.scrollBottom {
  transform: rotate(180deg);
}