.root {
 position: relative;
 display: block;
 width: 100%;
 height: 100%;
 //max-height: 150px;
}
.mainSign {
 position: absolute;
 width: 10em;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);

 @media (max-height: 500px) {
  width: 10em;
  top: 30%;
 }
}

.subSign {
 position: absolute;
 width: 3em;
 left: 50%;
 top: 70%;
 transform: translate(-50%, -50%);
 @media (max-height: 500px) {
  top: 60%;
  width: 2.5em;
 }
}

.name {
 color: #ffffff;
 font-family: Nasalization;
 font-size: 2em;
 text-transform: uppercase;
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: translate(-50%, -50%);

 @media (max-height: 500px) {
  font-size: 1em;
 }
}