html, body { }
body {

  margin: 0;
  padding: 0;
  position: fixed;
}
 * {
   box-sizing: border-box;
 }

@font-face {
  font-family: Nasalization;
  src: url('./assets/fonts/Nasalization.otf');
}

@font-face {
  font-family: GothaPro;
  src: url('./assets/fonts/GothaPro.otf');
}

#root {
  height: 100vh; width: 100vw;
  background: linear-gradient(188.73deg, #150A57 -3.17%, #02072B 45.15%);
  //max-height: 630px;
  //max-width: 500px;
}